{% extends "template.twig" %}

{% block container %}

    <div class="main">

        <p>Just give your name -last -name -date of birth</p>
        <p>App will calculate your personal magic number and indicate a guitarist!</p>
        <p>Click button below and go to the form</p>
        <a href="/form">START</a>

    </div>

{% endblock %}